<!doctype html>
<html lang="en">
  <head>
    <title>Marco Steinke</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Merriweather:wght@900&display=swap" rel="stylesheet">
  <style>
    .blog-post {
      margin: 24px auto;
      text-align: center;
      padding: 12px;
      border: 1px solid transparent;
      width: 800px;
      
    }

    .blog-post>h2 {
      text-decoration: underline;
      color: #007bff;
      font-family: 'Dosis', sans-serif;
      font-family: 'Merriweather', serif;
    }

    nav, .blog-post {
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09); 
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
      background-color: #fff;
    }

    .blog-post>div, .blog-post>*>div {

    }

    body {
      background: #f1f1f1;
    }

    .blog-post:hover {
      border: 1px solid lightgray;
      background-color: aliceblue;
      cursor: pointer;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">Marco Steinke <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Home</a>
        </div>
    </nav>
    <section class="blog-post">
      <h2>Blog Post Title</h2>
      <div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ab fugiat ut, accusantium nihil autem aut a libero deserunt esse, atque nulla doloremque tenetur quos incidunt quibusdam ipsa quod commodi.</div>
        <div>Laudantium porro blanditiis illo dicta, quidem repellat dolorum necessitatibus facere. Possimus maiores quam id quis quia totam ipsum quisquam aspernatur cum! Consectetur sit fugiat omnis eius nihil, quibusdam voluptate voluptatem!</div>
        <div>Tempore ipsum, maiores modi quidem voluptates temporibus quam placeat cupiditate aperiam, porro blanditiis natus quia provident. Iste quibusdam delectus velit numquam natus ducimus error! Consectetur accusantium quam impedit natus totam.</div>
        <div>Autem ex ea nihil quaerat earum dolore est quam, sunt quasi expedita distinctio aliquid voluptates cupiditate, aspernatur porro nesciunt sed maiores quo sit quos reiciendis nostrum voluptas dignissimos! Aliquam, quasi!</div>
        ...<br><span>31.01.1970</span></div>
    </section>
    <section class="blog-post">
      <h2>Blog Post Title</h2>
      <div>
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, harum. Alias, voluptatum perspiciatis, repellendus eos beatae corrupti, veritatis facilis enim dolore mollitia quasi necessitatibus nulla nesciunt ratione maiores! Molestias, enim.</div>
        <div>In hic, nemo quae voluptatem aperiam beatae perspiciatis, eos consequuntur cumque minus enim odit optio dolore possimus voluptates, fuga temporibus repellat. Provident culpa nobis, praesentium molestias dolorum voluptatem reiciendis commodi.</div>
        <div>Ipsum cum temporibus unde? Quos doloribus reprehenderit eveniet eius mollitia quo accusamus facilis magni, perspiciatis eum esse atque molestiae doloremque sed minima autem ea neque tenetur nihil temporibus in blanditiis.</div>
        <div>Consectetur autem eum repudiandae veritatis. Quasi quis corrupti sunt ullam eligendi autem assumenda excepturi ad aliquid incidunt velit, unde eveniet ab culpa at fugiat, provident fuga, molestias fugit hic vitae?</div>
        ...<br><span>31.01.1970</span></div>
    </section>
    <section class="blog-post">
      <h2>Blog Post Title</h2>
      <div>
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae ipsum ipsa placeat molestiae fugiat itaque? Ipsum modi amet voluptatibus, quis, velit veritatis, nesciunt voluptate sint odit tempore suscipit recusandae sequi.</div>
        <div>Odio voluptates fugit ab laudantium sequi blanditiis voluptas reiciendis esse quod repellat perferendis quae vel magni debitis fugiat, quasi cum laboriosam. Accusantium officiis temporibus aspernatur earum nisi quas dolores itaque?</div>
        <div>Dolor ratione qui eligendi voluptatum, nobis sint atque sunt temporibus, ipsam laboriosam architecto iusto rerum vero omnis, nisi asperiores veritatis nostrum quasi. Nulla, voluptas aperiam. Saepe odit architecto ad quod.</div>
        <div>Recusandae nihil sunt qui culpa unde possimus consequuntur! Recusandae maiores consequatur id facilis repudiandae architecto, doloremque dignissimos alias. Dolore dolorem esse repudiandae dolor assumenda corrupti distinctio eveniet et labore sequi.</div>
        ...<br><span>31.01.1970</span></div>
    </section>
    <section class="blog-post">
      <h2>Blog Post Title</h2>
      <div>
        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates repudiandae repellendus dolore quia odio magni dolor minus totam. Officia voluptas modi quasi velit dolor nam fuga molestiae quisquam natus ducimus.</div>
        <div>Reprehenderit aperiam fuga ut nisi quia molestiae, labore tempore minus eius voluptas placeat, natus ab magnam adipisci. Voluptatum id magnam facilis harum. Fuga provident soluta natus quas iste, dolor quia.</div>
        <div>Eveniet ut harum quam, officia tempora ex facilis maxime, voluptatum sed explicabo et natus, incidunt fugit pariatur quo! Pariatur, totam ducimus? Dolore possimus voluptatum dolores blanditiis vitae neque repudiandae quasi.</div>
        <div>Magnam quos quis, quas iusto dolorem consequatur, enim ratione maiores voluptatum dolor ex cupiditate et dolore asperiores hic eaque cum. Facere culpa maxime amet necessitatibus aliquam illum, officiis odio possimus.</div>
        ...<br><span>31.01.1970</span></div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>